# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Build
*.jar
*.war
*.ear
*.tar

# Logs
*.log
logs/

# Temp
*.tmp
*.temp

# OS
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# IDE
.idea/
*.iml
.vscode/

# Java
*.class

# Env
.env

# Spring Boot config
application-local.properties
application-dev.properties

# Node
node_modules/
dist/
build/

# Misc
*.lock
*.pid